* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-color: white;
  background-image: none; /* Initially hide background image */
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 70vw;
  height:50vh;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;
  z-index:99;
}

.front {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  margin-top: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  backface-visibility: hidden;
  border-radius: 2vmax;
  backdrop-filter: blur(10px);
  background-color: #ffffff; /* Pink color */
  -webkit-animation: glow2 1s ease-in-out infinite alternate;
  -moz-animation: glow2 1s ease-in-out infinite alternate;
  animation: glow2 1s ease-in-out infinite alternate;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
.front p {
  font-size: 40px;
}
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  margin-top: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: 2vmax;
  backdrop-filter: blur(10px);
  background-color: #ffffff7f; /* Pink color */
  -webkit-animation: glow2 1s ease-in-out infinite alternate;
  -moz-animation: glow2 1s ease-in-out infinite alternate;
  animation: glow2 1s ease-in-out infinite alternate;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.back {
  transform: rotateY(-180deg);
}

.back-content {
  text-align: center;
}

p {
  font-size: 2vmax;
  color: rgb(0, 0, 0);
  text-align: center;
  text-wrap: pretty;
  padding: 2vmax;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
#glitter-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9;
}

.glitter-particle {
  position: absolute;
  background-size: cover;
  pointer-events: none;
  transform-origin: center center;
  animation: sparkle 2s infinite;
}

@keyframes sparkle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
}

